<div id="header" >
<a href="" class="logo"><img src="/partnerweb/images/hchlogo.jpg" alt=""></a>
</div>	
<div id="options" >
<a href ="/partnerweb" class="menu">Home</a>
<a href =" " class="menu">About Us</a>
<div id="grad">

</div>
</div>